footer{
    background: black;
    color: white;
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

p{
    font-size: 1rem;
}

h3{
    font-size: 1.3rem;
}