
<main>
    <section id="section-cadastro">
        <h2>Cadastro</h2>
        <form class="row g-3">

              <label for="inputUsuario" class="visually-hidden">Email</label>
              <input type="email" name="email" class="form-control" id="inputUsuario" placeholder="email@exemplo.com" autocomplete="email">
              
              <br>

              <label for="inputPassword2" class="visually-hidden">Senha</label>
              <input type="password" name="password" class="form-control" id="inputPassword2" placeholder="Senha">

              <br>

              <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
          </form>  
    </section>
</main>