.example-spacer {
    flex: 1 1 auto;
  }
img{
    height: 65px;
    width: 65px;
}

span{
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
}

.mat-toolbar.mat-primary{
    background-color: black;
    
}

p{
    margin-top: 10px;
    margin-bottom: 0px;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0 50px;
}