main{
    min-height: 500px;
}
#section-banner{
    min-height: 400px;
}

.carousel{
  background-color: black;
}

#section-banner img{
    height: 30rem;
    padding: 10px 50px 10px 50px;
}

h2{
    margin-left: 55px;
    margin-bottom: 25px;
    text-align: left;
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

.example-card {
    max-width: 500px;
  }
  
  .example-header-image {
    background-size: auto;
  }
  
  mat-grid-tile{
    padding: 100px ;
    border-radius: 60px;
  }

  mat-card-header{
    display: flex;
    text-align: left;

  }

  mat-card-actions p{
    color: rgb(206, 5, 5);
    font-size: 20px;
  }

  mat-card img{
    
    height: 25rem;
    width: 18.75rem;
    
  
  }

  mat-card {

    border-radius: .5rem;
  }

  mat-card-actions{
    display: flex;
    justify-content: space-between;
  }

